.tags {
  background-color: #ededfc;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 20px 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.filter-tag {
  color: #5e5adb;
}
.name-tag {
  color: #151357;
  margin-left: 5px;
}
.fa-xmark {
  color: #868fa0;
  margin-left: 7px;
  margin-top: 3px;
}
