.topbar {
  background-color: #f6f9fc;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e3e6;
}
.title {
  font-weight: 700;
  font-size: 24px;
  margin-left: 20px;
}
.topbar-info {
  display: flex;
  align-items: center;
}
/* notification counter */
.topbar-notifications {
  position: relative;
}
.topbar-notifications-counter {
  position: absolute;
  top: -20px;
  right: 13px;
  background-color: #5e5adb;
  color: #fff;
  padding: 0.5px 5px 0.5px 5px;
  border-radius: 50%;
  font-size: 13px;
}
.fa-bell,
.fa-circle-info,
.fa-arrow-right-from-bracket {
  margin-right: 20px;
  color: #868fa0;
  cursor: pointer;
}
.m-container {
  display: flex;
  align-items: center;
}
.fa-bars.m-topbar-icon {
  margin-left: 10px;
  font-size: 25px;
  color: #868f9f;
}
.topBar-logo {
  width: 130px;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .title {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  .m-container {
    display: none;
  }
}
@media only screen and (max-width: 290px) {
  .topbar-info {
    display: none;
  }
}
