.sidebar {
  background-color: #151356;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBar-logo {
  width: 80px;
  left: 0;
  top: 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.fa-envelope {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
/* @media only screen and (min-width: 1024px) {
  .sidebar {
    height: 100vh;
  }
} */
