.searchBox {
  width: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
#search {
  height: 32px;
  width: 25%;
  border: 1px solid #e2e4e6;
  border-left: none;
  border-radius: 0px 6px 6px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 0px 0px 1px rgba(134, 143, 160, 0.16);
}
.searchBox .fa-magnifying-glass {
  border: 1px solid #e2e4e6;
  padding: 9px;
  color: #868fa0;
  border-radius: 6px 0px 0px 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(70, 79, 96, 0.16);
}
